{% extends 'master.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">


  <!-- ====== Header End ====== --> 
  
  <!-- ====== Banner Start ====== -->
  <section id="inner-banner" class="index-2">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="inner-heading">
          <h2>Our Team</h2>
          <div class="separator left-align">
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="index-2.html" title="Home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Our Team</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Banner End ====== --> 
  
  <!-- ====== Services Start ====== -->
  <section id="our_team" class="inner index-2">
  <div id="ui-ux">
    <div class="container">
      <div class="section_heading">
        <h2>Ui/UX Designers</h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
     
        <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
             <div class="item">
            <div class="client_dp"> <img src="{% static 'img/team-member-pic.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Alec Thompson</a></h5>
                <span>Graphics Designer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
            </div>
       
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
             <div class="item">
            <div class="client_dp"> <img src="{% static 'img/team-member-pic3.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Tania Andrew</a></h5>
                <span>Logo Designer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="item">
            <div class="client_dp"> <img src="{% static 'img/team-member-pic4.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Christian Mike</a></h5>
                <span>Graphics Designer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
            </div>
             <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
               <div class="item">
            
            <div class="client_dp"> <img src="{% static 'img/team-member-pic2.jpg' %}" alt="Team"> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Rebecca Stormville</a></h5>
                <span>Designer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook"><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter"><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google"><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin"><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram"><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
           </div>
          </div>
        </div>
    
    </div>
  </div>
  <div id="web-developer" class="gray-bg index-2">
    <div class="container">
      <div class="section_heading">
        <h2>Web Developers</h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      
        <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
          <div class="row">
             <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
             <div class="item">
            <div class="client_dp"> <img src="{% static 'img/team-member-pic.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Alec Thompson</a></h5>
                <span>PHP Developer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
             <div class="item">
            <div class="client_dp"> <img src="{% static 'img/team-member-pic3.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Tania Andrew</a></h5>
                <span>JAVA Developer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="item">
            <div class="client_dp"> <img src="{% static 'img/team-member-pic4.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Christian Mike</a></h5>
                <span>Wordpress Developer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
            </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
               <div class="item">
            
            <div class="client_dp"> <img src="{% static 'img/team-member-pic2.jpg' %}" alt="Team"> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Rebecca Stormville</a></h5>
                <span>Designer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook"><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter"><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google"><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin"><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram"><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
           </div>
          </div>
        </div>
      
    </div>
  </div>
  <div id="seo-smo" class="index-2">
    <div class="container">
      <div class="section_heading">
        <h2>SEO/SMO</h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      
        <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
          <div class="row">
           <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
             <div class="item">
            <div class="client_dp"> <img src="{% static 'img/team-member-pic.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Alec Thompson</a></h5>
                <span>PHP Developer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="item">
            <div class="client_dp"> <img src="{% static 'img/team-member-pic2.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Rebecca Stormville</a></h5>
                <span>Wordpress Developer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
            </div>
        
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="item">
            <div class="client_dp"> <img src="{% static 'img/team-member-pic4.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Christian Mike</a></h5>
                <span>Wordpress Developer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
            </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
               <div class="item">
            
            <div class="client_dp"> <img src="{% static 'img/team-member-pic2.jpg' %}" alt="Team"> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Rebecca Stormville</a></h5>
                <span>Designer</span> </div>
              <div class="description">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="social_links">
                <ul>
                  <li><a href="javascript:void(0)" title="Facebook"><i class="flat flaticon-facebook-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Twitter"><i class="flat flaticon-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" title="Google"><i class="flat flaticon-google-plus-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Linkedin"><i class="flat flaticon-linkedin-logo"></i></a></li>
                  <li><a href="javascript:void(0)" title="Instagram"><i class="flat flaticon-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
           </div>
          </div>
        </div>
      
    </div>
  </div>
</section>
  <!-- ====== Services End ====== --> 
  
<!-- ====== Candidate Contact Start ====== --> 
<section id="member" class="index-2">
  <div class="container">
     
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 heading">
                 <h3>Want To Join <span>Our Team</span></h3>
                 <div class="q-mark">?</div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 meeting">
                  <div class="meeting_icon">
                     <i class="flat flaticon-group-meeting"></i>
                  </div>
                  <div class="meeting_content">If you're Creative, passionate and enthusiatic about helping customers, <a href="contact-us-1.html">We want to meet you!</a>

                  </div>
              </div>
           
           </div>
      </div>
  </div>
  <div class="overlay"></div>
</section>
<!-- ====== Candidate Contact End ====== --> 
  
  
</div>


{% endblock %}
</body>

</html>